@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/rainforest2.jpg) center/cover no-repeat;
}

.container{
    border-radius: 15px;
    text-align: center;
    background: #f7f7f776;
    width: 550px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-section{
    position: relative;
    margin: 15px 0;
    width: 250px;
}

input{
    width: 100%;
    padding: 12px 12px 12px 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    background: none;
}

label{
    position: absolute;
    top: 12px;
    left: 12px;
    pointer-events: none;
    background: #f7f7f7;
    font-size: 16px;
    padding: 0 4px;
    transition: 0.3s ease all;
}

input:focus + label,
input:not(:placeholder-shown) + label{
    top: -8px;
    left: 8px;
    color: #333;
    font-size: 12px;
}

.input-section button{
    border: none;
    color: white;
    padding: 0 20px;
    font-size: 16px;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background: linear-gradient(90deg,rgb(7, 49, 7),rgb(46, 185, 46));
    background-size: 200% auto;
    background-position: left center;
    transition: background-position 0.3s ease;
}

.input-section button:hover{
    background-position: right center;
    cursor: pointer;
    color: white;
}

.container .conditions{
    display: inline-flex;
    gap: 10px;
}

.container .conditions input{
    width: 25px;
}